footer {
    height: 50px;
    color: whitesmoke;
}

.component-footer {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
}

/* nav {
    min-width: 400px;
    width: calc(65% + 200px);
    max-width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
} */

dl {
    display: flex;
    width: 450px;

    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: whitesmoke;
}