@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: rgb(30, 30, 40);
}

button {
    cursor: pointer;
}

form {
    margin-bottom: 40px;
}
.container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    padding-top: 80px;
    width: 80%;
    margin: auto;
}

