div.pagina-cadastro-produtos {
  background-image: url(../../assets/img/fundo-cadastro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  flex-grow: 1;
}

.pagina-cadastro-produtos .form-cadastro {
  display: flex;
  flex-flow: row wrap;
}

.pagina-cadastro-produtos .area-form {
  width: 50%;
  min-width: 40%;
  max-width: 100%;
}

.basic-multi-select {
  min-width: 200px;
}

@media screen and (max-width: 1100px) {
  .pagina-cadastro-produtos .area-form {
    min-width: 80%;
  }
}
