div.pagina-cadastro-produtos {
  /*background-image: url(../../assets/img/fundo-home.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}

.cadastro-area {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-categoria {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}
