.edit-area {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.text-edit {
  color: aliceblue;
}

.basic-multi-select {
  color: black;
}

.produto-area {
  height: 10rem;
  flex-grow: 1;
}

.form-categoria {
  display: flex;
  flex-direction: column;
}

.basic-multi-select {
  width: 200px;
}
